body {
  font-family: sans-serif;
  max-width: 576px;

  padding: 0 16px;
  margin: 32px auto;
}

h2 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}

input,
button {
  padding: 16px;
}

#status-message {
  margin-top: 16px;
  padding: 16px;
  border-radius: 4px;
  background-color: #f0f0f0;
}
